.nutrition {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    margin-right: 5%;
  }
  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #fbfbfb;
    padding: 1rem;
    border-radius: 10px;
    width: 11rem;
    height: 4rem;
  }
  .tagText {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
  }
  .tag svg{
    width: 2rem;
    height: 2rem;
  }
  
.type {
    font-size: 14px;
    color: #74798C;
    font-weight: 500;
  }
  .back {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #fbfbfb;
    padding: 1rem;
    border-radius: 10px;
    width: 2rem;
    height: 2rem;
  }
  