
.dashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
}
.dashboardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 70%;
}
.session{
    width: 70%;
    height: 100%;
}