.header {
    display: flex;
    padding: 0 2rem;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
}

.header h1{
    font-size: 45px;
    margin-bottom: 7px;
}
h1 strong{
    color: #ff0000;
}
.header p{
    font-weight: 500;
}